<footer class="footer">
  <small>
    © 2017 Reportgarden. All Rights Reserved, Report Garden Inc
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'https://reportgarden.com/about/' %></li>
      <li><%= link_to "Contact", 'https://reportgarden.com/contact/' %></li>
    </ul>
  </nav>
</footer>